# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
IDB/build/
IDB/DerivedData/

## Various settings
IDB/*.pbxuser
!default.pbxuser
IDB/*.mode1v3
!default.mode1v3
IDB/*.mode2v3
!default.mode2v3
IDB/*.perspectivev3
!default.perspectivev3
IDB/xcuserdata/

## Other
IDB/*.moved-aside
IDB/*.xccheckout
IDB/*.xcscmblueprint

## Obj-C/Swift specific
IDB/*.hmap
IDB/*.ipa
IDB/*.dSYM.zip
IDB/*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
IDB/Pods/
